/* Base layout */
body {
    font-family: "Figtree", sans-serif;
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
}

/* Headings */
h1,
h3 {
    font-weight: 600;
    color: #EAAA00;
    text-align: center;
}

h4 {
    text-align: center;
}

/* Links */
a {
    color: #EAAA00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header contact line */
#contact-info {
    text-align: center;
}

/* Navigation */
nav {
    position: sticky;
    top: 12px;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    border-radius: 320px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

nav a {
    color: black;
}

nav a:hover {
    color: #EAAA00;
}

/* Section separators */
hr {
    width: 50%;
    margin-top: 12px;
    opacity: 0.25;
}

/* Content cards */
article, #contact-form {
    width: 90%;
    margin: 24px auto;
    padding: 10px 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.asterisk {
    color: #ee0404;
}

#profile-picture {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 8px auto 24px;
    border-radius: 16px;
}

/* Buttons */
.button {
    right: 20px;
    bottom: 20px;
    padding: 16px 24px;
    font-size: 14px;
    background-color: #EAAA00;
    border: none;
    border-radius: 320px;
    cursor: pointer;
}

.button > a, #button-text {
    display: block;
    font-weight: 600;
    line-height: 1;
    color: black; /* TODO: Doesn't seem to work on the contact button */
    text-decoration: none;
    white-space: nowrap;
}

.button:hover {
    background-color: #000;
}

.button:hover > a, #button-text {
    color: white; /* TODO: Doesn't seem to work on the contact button */
}

#contact-button {
    position: fixed;
    z-index: 100;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* Shared entry text */
.entry-title {
    margin-bottom: 8px;
}

.entry-date {
    margin: 4px 0;
    color: #555;
}

/* Contact form */
.contact-form-input, #message {
    appearance: none;
    width: 90%;
    border-width: 2px; /* Change to red if input invalid, like no @ sign in an email address */
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.25);
    padding: 16px 24px;
}

/* Contact form */
.contact-form-input, #message {
    appearance: none;
    width: 90%;
    border-width: 2px; /* Change to red if input invalid, like no @ sign in an email address */
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.25);
    padding: 8px;
}

.contact-form-input:focus, #message:focus {
    outline: none;
    border-color: #EAAA00;
}

.contact-form-input:invalid, #message:invalid {
    border-color: #ee0404;
}

.contact-form-label {
    margin: 12px 0 4px;
}