body {
    font-family: "Figtree", sans-serif;
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
}
h1, h3 {
    font-weight: 600;
    color: #EAAA00;
}
h1 {
    text-align: center;
}
h2 {
    font-weight: 500;
    text-align: center;
}
h4 {
    text-align: center;
}
a {
    color: #EAAA00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav { 
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 0;
    z-index: 100;
    font-size: 14px;
}
hr {
    opacity: 0.25; 
    margin-top: 12px;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 24px; 
    margin-bottom: 24px;
}
#contact-info {
    text-align: center;
}