body {
    font-family: "Figtree", sans-serif;
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
}
h1, h3 {
    font-weight: 600;
    color: #EAAA00;
}
h1 {
    text-align: center;
}
h2 {
    font-weight: 500;
    text-align: center;
}
h4 {
    text-align: center;
}
a {
    color: #EAAA00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav { 
    position: sticky;
    top: 12px;
    background-color: white;
    padding: 10px 16px;
    z-index: 100;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
nav h3 {
    margin: 0;
}
hr {
    opacity: 0.25; 
    margin-top: 12px;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 24px; 
    margin-bottom: 24px;
}
#contact-info {
    text-align: center;
}
.contact-button {
    background-color: #EAAA00;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.contact-button > a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}